
* {
  margin: 0;
  padding: 0;
}
html {
    background: linear-gradient(to bottom right, #4e4e50, #6f2232) no-repeat center center fixed;
    background-size: cover;
    scroll-behavior: smooth;
}
body {
  color: whitesmoke;
  height: 100%;
  margin: 0;
  padding: 0;
}
header {
  padding: 5px;
  overflow: auto;
  width: 100%;
}






#logo {
  font-size: 40px;
  font-family: fantasy;
  color: whitesmoke;
}
#logo span {
  color: #6f2232;
  font-size: 40px;
  padding: 0px 0px 0px 5px;
}



img.linkedin {
  max-width: 35px;
  min-width: 35px;
  max-height: auto;
  float: right;
  padding: 5px 22px 10px 5px;
  
}
img.github {
  max-width: 35px;
  min-width: 35px;
  max-height: auto;
  float: right;
  padding: 5px 5px 10px 5px;
}
img.linkedin:hover{
  opacity: 0.5;
}
img.github:hover{
  opacity: 0.5;
}






.btn{
  text-align: center; 
}
#minus, #plus{
  background: #6f2232;
  color: whitesmoke;
  width: 60px;
  height: 30px;
  margin: 0px 30px 10px 30px;
  font-size: 12px;
  border-color: transparent;
  opacity: .8;
  cursor: pointer;
}
#minus:hover, #plus:hover{
  opacity:1;
}






.planet-list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0px 250px 0px 250px;
  justify-content: space-evenly;
  
}
.cards{
  border-radius: 2px;
  padding: 0px 5px 0px 5px;
  max-width: 140px;
  min-width: 140px;
  max-height: 220px;
  min-height: 220px;
  background: 	#1a1a1d;
  margin: 5px 0px 5px 0px;
  /* https://www.w3schools.com/howto/howto_css_cards.asp */
  box-shadow: 0 4px 8px 0 #c30734;
  transition: 0.3s;
}
.cards:hover{
  box-shadow: 0 8px 16px 0 black;
}
.cards:focus {
  width: 500px;
}
img.satellite {
  padding: 0px 0px 10px 0px;
  max-width: 60px;
  min-width: 60px;
  max-height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}






h3{
  font-size: 15px;
  text-align: center;
  padding: 10px 0px 10px 0px;
  margin: 0 auto;
  color:whitesmoke;
  font-family: 'Orbitron', sans-serif;
  font-weight: 500;
  letter-spacing: 2px;
}
h4 {
  font-size: 8px;
  text-align: center;
  padding: 2.5px 5px 2.5px 5px;
  margin: 0 auto;
  color: whitesmoke;
  font-family: 'Orbitron', sans-serif;
  font-weight: 500;
  letter-spacing: 2px;
}






footer {
  display: flex;
  justify-content: center;
}
.foot {
  font-size: 10px;
  font-weight: bold;
  color: whitesmoke;
  font-family: 'Rajdhani', sans-serif;
  font-weight: 600;
  opacity: .6;
}
#scrollToTopBtn {
  background: #6f2232;
  color: whitesmoke;
  width: 85px;
  height: 35px;
  margin: 10px 0px 10px 5px;
  font-size: 12px;
  border-color: transparent;
  opacity: .8;
  cursor: pointer;
}
p {
  text-align: center;
}






@media (max-width: 420px){
  .cards {
    font-size: small;
  }
  img.linkedin {
    max-width: 20px;
    min-width: 20px;
    max-height: auto;
    padding: 6px 15px 5px 5px;
  }
  img.github {
    max-width: 20px;
    min-width: 20px;
    max-height: auto;
    padding: 6px 5px 5px 5px;
  }
  #logo, #logo span {
    font-size: 25px;
  }
  .planet-list {
    margin: 0px 10px 0px 10px;
  }
  footer {
    position: relative;
  }
  #minus, #plus {
    width: 60px;
    height: 30px;
  }
  #upbtn{
    margin: 0px 0px 0px 0px;
  }
  
}

@media (max-width: 1200px){
  .planet-list {
    margin: 0px 100px 0px 100px;
  }
  .foot {
    font-size: 8px;
  }
}
